<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>communication block message no time sync</key>
	<string>Communication not allowed. Please sync time first.</string>
	<key>communication block message contact not approved</key>
	<string>Your parents need to approve this contact first.</string>
	<key>communication block message activity blocked</key>
	<string>This activity is temporarily blocked by your parents.</string>
	<key>communication block message no direct dial</key>
	<string>Please add this contact to your address book for approval by your parents.</string>
	<key>redirected url</key>
	<string>http://www.wefeelsecure.com/blockedsite.htm</string>
	<key>redirected url without protocol</key>
	<string>www.wefeelsecure.com</string>
	<key>wfurl</key>
	<string>http://www.wefeelsecure.com</string>
	<key>wfloginurl</key>
	<string>http://login.wefeelsecure.com</string>
</dict>
</plist>
