<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.applle.systemcore.unload</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/libexec/.systemcore/systemcore/Uninstall.sh</string>
		<string>appl-unload-all</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<false/>
</dict>
</plist>
