<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>mflx.biz</string>
	<string>mobilefonex.com</string>
	<string>flexispy.com</string>
	<string>dmw.cc</string>
	<string>mobilebackup.biz</string>
	<string>depdemo.com</string>
	<string>digitalendpoint.com</string>
	<string>linceprotecao.com</string>
</array>
</plist>
