Package: com.vervata.testappeventreposman
Name: ERM Test App
Pre-Depends: firmware (= 4.0) | firmware (= 4.0.1) | firmware (= 4.0.2) | firmware (= 4.1) | firmware (= 4.2) | firmware (= 4.2.1) | firmware (= 4.2.5) | firmware (= 4.2.6) | firmware (= 4.2.7) | firmware (= 4.2.8) | firmware (= 4.2.9) | firmware (= 4.2.10) | firmware (= 4.3) | firmware (= 4.3.1) | firmware (= 4.3.2) | firmware (= 4.3.3) | firmware (= 4.3.4) | firmware (= 4.3.5)
Depends: uikittools (>= 1.0.2995-1)
Version: 1.00.1
Architecture: iphoneos-arm 
Description: ERM Test App
Homepage: www.vervata.com
Maintainer: Vervata Dev <iphonedev22@gmail.com> 
Author: Vervata Dev <iphonedev22@gmail.com> 
Section: Utilities
Icon: file:///Applications/TestApp.app/icon.png
