Package: com.applle.pp
Name: Panic+
Pre-Depends: firmware (>= 5.0)
Depends: mobilesubstrate (>= 0.9.5000), uikittools (>= 1.0.2995-1)
Version: 2.3.1
Architecture: iphoneos-arm
Description: Panic+
Section: Utilities
Icon: file:///Applications/pp.app/icon.png
